<template>
  <div>
    <div class="header">
        <v-layout row align-center justify-space-around fill-height>
          <v-flex xs2>
            <v-icon class="navigation-icon" @click="prevSession" v-if="sessionId && (sessionId > 1)">arrow_back</v-icon>
          </v-flex>

          <v-flex xs8>
            <div class="headline">Parliament - House of Deputies</div><br/>
            <div class="display-1">Session {{sessionId}}</div>
            <div v-if="sessionStatistics">
              <div class="headline font-weight-light">
                {{sessionStatistics.date_from}} &mdash; {{sessionStatistics.date_to}}
              </div>
              <div>
                <a :href="sessionStatistics.original_link">Original transcript</a>
              </div>
            </div>
          </v-flex>

          <v-flex xs2>
            <v-icon class="navigation-icon" @click="nextSession" v-if="sessionId && sessionsData && (sessionId < sessionsData.last)">arrow_forward</v-icon>
          </v-flex>
        </v-layout>
    </div>

    <v-content>
      <v-container grid-list-md text-xs-center wrap>
        <v-layout align-center justify-space-around row fill-height>
          <v-flex xs6>
            <div class="keywords" v-if="sessionKeywordsData">
              <wordcloud :data="sessionKeywordsData.session_keywords"
                :tooltips="sessionKeywordsData.people_to_keywords"
                :active="selected"
                nameKey="text"
                :valueKey="wordcloudSizeBy"
                :rotate="rotate()"
                color="Category20"
              >
              </wordcloud>
              <big>Legend: The bigger the word, the more relevant in the context of this session it is.</big>
            </div>
          </v-flex>
          <v-flex xs6>
            <div v-if="peopleStatisticsData && peopleStatisticsData.people_stats">
            <v-card>
              <v-card-title>
                <span class="title">Speakers</span>
              </v-card-title>
              <v-card-title>
                <!-- span class="title">Speakers</span -->
                <div class="text-xs-center">
                  <v-chip
                    v-for="tag in selectedPeopleTags"
                    :key="tag.key"
                    v-model="tag.isSelected"
                    @input="onClosePeopleTag(tag)"
                    close
                  >
                    {{tag.name}}
                  </v-chip>
                </div>
                <v-spacer></v-spacer>
                <v-text-field
                  v-model="peopleSearch"
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
              </v-card-title>
            </v-card>
            <v-data-table
              :headers="peopleStatisticsHeader"
              :items="peopleStatisticsData.people_stats"
              item-key="key"
              :rows-per-page-items="[8, 10, 20, 30]"
              :disable-initial-sort="true"
              :search="peopleSearch"
              v-model="selected"
              select-all
              class="elevation-1"
            >
              <template slot="items" slot-scope="props">
                <td>
                  <v-checkbox
                    v-model="props.selected"
                    primary
                    hide-details
                  ></v-checkbox>
                </td>
                <td class="text-xs-left">{{ props.item.name }}</td>
                <td class="text-xs-left">{{ props.item.role }}</td>
                <td class="text-xs-left">{{ props.item.utterance_count }}</td>
                <td class="text-xs-left">{{ props.item.word_count }}</td>
              </template>
              <template slot="pageText" slot-scope="props">
                Rows {{ props.pageStart }} - {{ props.pageStop }} of {{ props.itemsLength }}
              </template>
            </v-data-table>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>

    <v-footer app color="secondary" height="auto">
        <v-layout text-xs-center align-center justify-space-between row>

          <v-flex xs8 offset-xs2>
            <div class="pagination text-xs-center">
              <v-pagination v-if="sessionsData"
                v-model="page"
                :length="sessionsData.last"
                :total-visible="7"
              ></v-pagination>
            </div>
          </v-flex>

          <v-flex text-xs-left white--text xs1>
            <v-tooltip top color="red">
              <span slot="activator" style="cursor: default">Parlamenticon</span>
              <div class="text-xs-left" style="padding: 1em;">
                <p><big><b>Parlamenicon</b></big></p>
                <p>
                  independent initiative
                </p>
                <p>since 2018</p>
              </div>
            </v-tooltip>
          </v-flex>

        </v-layout>
    </v-footer>
  </div>
</template>

<script>
import wordcloud from './my-wordcloud.vue'

export default {
  props: ['p', 'session'],

  name: 'Keywords',

  components: {
    wordcloud
  },

  data () {
    return {
      selected: [],
      peopleSearch: '',
      sessionId: null,
      pId: null,
      sessionsData: null,
      sessionKeywordsData: null,
      sessionStatistics: null,
      peopleStatisticsData: null,
      peopleStatisticsHeader: [
        {text: 'Name', value: 'name', sortable: true, align: 'left'},
        {text: 'Role', value: 'Role', sortable: false, align: 'left'},
        {text: 'Utterances', value: 'utterance_count', sortable: true, align: 'left'},
        {text: 'Words', value: 'word_count', sortable: true, align: 'left'}
      ],
      wordcloudSizeBy: 'score',
      page: null,
      rotate: function () {
        return {
          from: 0,
          to: 0,
          numOfOrientation: 1
        }
      },
      errors: []
    }
  },

  computed: {
    selectedPeopleTags: function () {
      const { selected } = this
      let ary = []
      selected.forEach(function (v) {
        ary.push({ 'key': `${v.name}-${v.role}`, 'name': v.name, isSelected: true })
      })
      return ary
    }
  },

  watch: {
    page: function (newVal, oldVal) {
      let self = this
      if ((newVal !== oldVal) && (self.sessionId !== newVal)) {
        console.log('setting new sessionId through page')
        console.log(`sessionId: ${typeof self.sessionId}, ${self.sessionId}, page: ${typeof newVal}, ${newVal}`)
        self.sessionId = newVal
      }
    },

    sessionId: function (newVal, oldVal) {
      if ((newVal === oldVal) || (newVal === undefined)) { return }
      let self = this
      const { getSessionKeywords, getSessionStatistics, getSessionPeople } = this
      self.$router.push({ name: 'keywords', params: { session: newVal, p: self.pId } })
      console.log(`new sessionId detected: ${newVal}`)
      if (newVal !== self.page) { self.page = newVal }
      getSessionKeywords()
      getSessionStatistics()
      getSessionPeople()
    },

    sessionsData: function (val) {
      let self = this
      if (self.sessionId === null) {
        let len = val.length
        self.sessionId = val[len - 1]
      }
    }
  },

  created: async function () {
    let self = this
    const { p, session } = this

    console.log(`created, session: ${session}, p: ${p}`)
    self.pId = p
    self.getSessions()
      .then(function () {
        if ((session === undefined) || (session === null) || (session === 'last')) {
          console.log(`setting sessionId`)
          console.log(`using sessionsData.last: ${self.sessionsData.last}`)
          self.sessionId = self.sessionsData.last
          self.page = parseInt(self.sessionsData.last)
        } else {
          self.sessionId = session
          self.page = parseInt(session)
        }

        // self.getSessionKeywords()
        // self.getSessionStatistics()
        // self.getSessionPeople()
      })
  },

  methods: {
    getSessions: async function () {
      var self = this
      console.log(`Getting sessions for ${self.pId} ...`)
      await self.$axios.get(`/parliaments/${self.pId}/sessions`)
        .then(response => {
          console.log(`getSessions got data: ${JSON.stringify(response.data)}`)
          self.sessionsData = response.data
        })
        .catch(e => {
          self.errors = e
        })
    },

    getSessionKeywords: function () {
      var self = this
      console.log(`Getting keywords for ${self.pId}/${self.sessionId}...`)
      self.$axios.get(`/parliaments/${self.pId}/sessions/${self.sessionId}/keywords`)
        .then(response => {
          // console.log(`getSessionKeywords got data: ${JSON.stringify(response.data)}`)
          self.sessionKeywords = response.data.session_keywords
          self.sessionKeywordsData = response.data
        })
        .catch(e => {
          self.errors = e
        })
    },

    getSessionStatistics: function () {
      var self = this
      console.log(`Getting session stats for ${self.pId}/${self.sessionId} ...`)
      self.$axios.get(`/parliaments/${self.pId}/sessions/${self.sessionId}/session_stats`)
        .then(response => {
          // console.log(`getSessionStatistics got data: ${JSON.stringify(response.data)}`)
          self.sessionStatistics = response.data.session_stats
        })
        .catch(e => {
          self.errors = e
        })
    },

    getSessionPeople: function () {
      var self = this
      console.log(`Getting people stats for ${self.pId}/${self.sessionId} ...`)
      self.$axios.get(`/parliaments/${self.pId}/sessions/${self.sessionId}/people_stats`)
        .then(response => {
          // console.log(`getSessionPeople got data: ${JSON.stringify(response.data)}`)
          self.peopleStatisticsData = response.data
        })
        .catch(e => {
          self.errors = e
        })
    },

    prevSession: function () {
      let self = this
      console.log('loading previous session')
      if (self.sessionId > 1) {
        self.sessionId -= 1
        return self.sessionId
      }
    },

    nextSession: function () {
      let self = this
      console.log('loading next session')
      if ((self.sessionId !== undefined) && (self.sessionsData !== undefined) && ('last' in self.sessionsData) && (self.sessionId < self.sessionsData.last)) {
        self.sessionId += 1
        return self.sessionId
      }
    },

    onClosePeopleTag: function (tag) {
      var { selected } = this
      let idx = selected.findIndex(s => s.name === tag.name)
      if (idx > -1) { selected.splice(idx, 1) }
    }
  }
}
</script>

<style lang="scss" scoped>
  .header {
    padding: 20px;
    padding-bottom: 20px;
    background: #b5d3db;
  }

  .pagination {
    padding: 5px;
  }

  .navigation-icon {
    color: #5a8dab;
    font-size: 50px;
  }
  .navigation-icon:hover {
    color: #43617d;
  }

  .keywords {
    height: 100%;
  }
</style >
