<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link rel="image_src" href="/img/wordcloud.png">
    <meta property="og:image" content="/img/wordcloud.png"/-->
    <link rel="image_src" href="{{ url_for('static', filename='img/wordcloud.png') }}">
    <title>Parlamenticon - Session {{ session }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
    </style>


</head>
<body>
<div class="jumbotron text-center" style="background: aliceblue; padding-top:20px; padding-bottom: 10px;">
<div class="container">
    <div class="row" >
        <div class="col">
            <div class="text-left">
                {% if (session|int - 1) > 0 %}
                <a href="/{{key}}/{{ (session|int - 1)|string }}"><button type="button" class="btn btn-default">< Older</button></a>
                {% else %}

            {% endif %}
            </div>
        </div>
        <div class="col-6">
            <div class="text-center">
                <h1>Meeting {{ session }}</h1>

                <p>
                {% if sid_data['date_from'] == sid_data['date_to']  %}
                {{ sid_data['date_from'] }}
                {% else %}
                {{ sid_data['date_from'] }} &mdash; {{ sid_data['date_to']}}
                {% endif %}
                    &nbsp;&nbsp;

                <a href="{{ sid_data['original_link'] }}">Original Transript</a>

                </p>

            </div>
        </div>
        <div class="col">
        <div class="text-right">
            {% if (session|int + 1) < 18 %}
            <a href="/{{key}}/{{ (session|int + 1)|string }}"><button type="button" class="btn btn-default">Newer ></button></a>
            {% else %}

            {% endif %}
        </div>
        </div>
    </div>
</div>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Discussed topics</h2>
            <br />
            <div id="chart" lang="cz"></div>
            <div class="text-center text-info">Legend: The bigger the word, the more times it was mentioned.</div>
        </div>
        <div class="col">
            <h2 class="text-center">Speakers</h2>
            <br />
            <div>
                <table class="table" width="100%">
                    <thead>
                    <tr>
                        <th>name</th>
                        <th>role</th>
                        <th>speeches</th>
                        <th>words</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in ppl_data[:8] %}
                        {% if loop.index < 7 %}
                        <tr id="{{ p['name'] | replace(" ", "_") }}">
                            <td style="font-weight: bold">{{ p['name'] }}</td>
                            <td>{{ p['role'] }}</td>
                            <td>{{ p['utterance_count'] }}</td>
                            <td>{{ p['word_count'] }}</td>
                        </tr>
                        {% else %}
                            {% if loop.index == 7 %}
                                <tr>
                                    <td colspan="4">and {{ loop.length }} more</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->

<!-- D3 word cloud egine -->
<script src="/js/lib/d3/d3.js"></script>
<script src="/js/lib/d3/d3.layout.cloud.js"></script>
<!--<script src="/js/d3.wordcloud.js"></script>-->


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<style>
.highlighted-mp {
    background-color: khaki;
}
</style>
<!-- work cloud setup -->
<script>

    drawWordCloud();

    // returns the string with spaces replaced by '_'
    function unSpaceStr(instr) {
        return instr.split(' ').join('_');
    }

    function drawWordCloud() {
        var svg_location = "#chart";
        // var width = $(document).width();
        var width = 640;
        // var height = $(document).height();
        var height = 480;

        var fill = d3.scale.category20();

        let wcd = {{ kw_data | safe }};

        let kw_people = {{ kw_people | safe }};

        console.log("wcd: ", wcd);
        console.log("kw_people", kw_people);

        let word_entries = d3.entries(wcd);


        var xScale = d3.scale.linear()
            .domain([0, d3.max(word_entries, function (d) {
                return d.value;
            })
            ])
            .range([10, 100]);

        let highlightClass = "highlighted-mp";
        function highlightMp(mp) {
            console.log("Highlighting mp: ", mp);
            $('#'+ unSpaceStr(mp)).addClass(highlightClass);
        }

        function unHighlightMp(mp) {
            console.log("Unhighlighting mp: ", mp);
            $('#'+ unSpaceStr(mp)).removeClass(highlightClass);
        }

        function mouseover(d, x) {
            let key = d.key;
            let mps = kw_people[key];
            var i;
            for (i=0; i < mps.length; i++) {
                highlightMp(mps[i]);
            }
        }

        function mouseout(d, x) {
            let key = d.key;
            let mps = kw_people[key];
            var i;
            for (i=0; i < mps.length; i++) {
                unHighlightMp(mps[i]);
            }
        }

        d3.layout.cloud()
            .size([width, height])
            .timeInterval(20)
            .words(word_entries)
            .fontSize(function (d) {
                return xScale(+d.value);
            })
            .text(function (d) {
                return d.key;
            })
            .rotate(0)
            .font("Impact")
            .on("end", draw)
            .start();

        function draw(words) {
            d3.select(svg_location).append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + [width >> 1, height >> 1] + ")")
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .on("mouseover", mouseover)
                .on("mouseout", mouseout)
                .style("font-size", function (d) {
                    return xScale(d.value) + "px";
                })
                .style("font-family", "Impact")
                .style("fill", function (d, i) {
                    return fill(i);
                })
                .attr("text-anchor", "middle")
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function (d) {
                    return d.key;
                });
        }

        d3.layout.cloud().stop();
    }
</script>
</body>
</html>
